* {
    margin: 0;
    padding: 0;
    font-family: "BundesSans Web";
    color: #2d6f9e;
    /* offziell verwendete Zoll Farbe */
}

@font-face {
    font-family: "BundesSans Web";
    src: local ("BundesSans Web") url("schriften/BundesSans Web/BundesSans Web.ttf") format("truetype");
}

[class*=hidden]{
    display:none;
}

[class*="html"] {
    height: 100%;
}

[class*="body"] {
    min-height: 100%;
}

[class*="navi"] {
    padding-top: 4em;
}

[class*="navigationObj"] {
    color: #2D6F9E;
    font-size: large;
    font-weight: 500;
}

.navigationObj:hover{
    color:#1f3347;
}
.nav-item:hover{
    border-bottom:3px solid ;
    border-bottom-color:#1f3347;
}

[class*="fuss"] {
    position: sticky;
    top: 100%;
    color: #2d6f9e;
}


[class*="pressemitteilungText"] {
    color: black;
}

[class*="carousel-control-prev-icon"] {
    height: 10%;
    width: 25%;
    outline: white;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid #2D6F9E;
    background-color: #2D6F9E;
}
[class*="carousel-control-next-icon"] {
    height: 10%;
    width: 25%;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid #2D6F9E;
    background-color: #2D6F9E;
}

[class*="carousel-control-next"] {
    color: red;
}

[class*='buttonBerechnenCss']{
    background-color: white;
    border-color: #2D6F9E;
}

[class*='inputZahl']{
    border:1px solid;
}

.buttonBerechnenCss:hover{
    background-color: #1f3347;
    border-color: #1f3347;
    color:white;
}

[class*='shadow']{
    display: block;
}

/*
[id*="vorheriges"] {
    content: '>';
    font-size: 55px;
    color: #2D6F9E;
}

[id*="naechstes"] {
    content: '<';
    font-size: 55px;
    color: #2D6F9E;
}
*/


[id*="kopfContainer"] {
    height: 15em;
    margin-top: 2%;
    margin-bottom: 1%;

}

[id*="logo"] {
    padding-top: 5em;
}

[id*="fusszeile"] {
    position: sticky;
}
